#weather-app {
  width: 750px;
  margin: 10px auto;
  background-color: #fdffcd;
  font-family: "Poppins", sans-serif;
  border: 5px solid #ffb5b5;
  padding: 15px;
  border-radius: 10px;
}

#weather-app-wrapper {
  width: 750px;
  margin: 10px auto;
}

h1 {
  color: #ffb5b5;
  margin-bottom: 25px;
  text-align: center;
  padding: 7px;
}
a {
  color: #132743;
  display: inline;
  text-decoration: none;
}
a:hover {
  color: #ffb5b5;
}

h2 {
  color: #407088;
  font-weight: 600;
  font-size: 24px;
}
.search-button {
  background-color: #407088;
  border: none;
  display: block;
  width: 200px;
  margin: auto;
  margin-top: 20px;
}
.search-button:hover {
  background-color: #ffb5b5;
}

.search-line {
  width: 700px;
  margin: 0 auto;
}

#weather-container {
  margin: 0 auto;
  max-width: 700px;
}

.forecast {
  margin-top: 20px;
  width: 700px;
}

.current-weather {
  text-align: left;
  font-size: 32px;
  text-align: center;
}

#current-button {
  background-color: #ffb5b5;
}

#current-button:hover {
  background-color: #407088;
}

#code-source-link {
  display: inline;
  text-decoration: underline;
}

#icon {
  width: 100px;
}

.active {
  color: black;
  cursor: default;
}

.active:hover {
  text-decoration: none;
  color: black;
}

.weather-forecast {
  margin-top: 20px;
  text-align: center;
  color: #000;
  background-color: white;
}

.weather-forecast-date {
  font-size: 16px;
  opacity: 0.5;
}

.weather-forecast-temperature-min {
  opacity: 0.5;
}

.weather-forecast-temperatures {
  font-size: 13px;
}
